<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>kdl-kill</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>D49E4E1F-E13C-4A40-ABA8-7C01909E4F52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59754784-4766-42E4-A84B-E3810C822840</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D6FFCA8E-1D3B-448F-8A6A-03606C2B0388</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C975065D-F8DB-444E-9839-2F311B286251</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DAC617FA-5B5B-4918-B6CF-72D21490B5B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF23F7C0-F71A-4E76-88B5-F201B314B6ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kailey Lampert</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Kill Dock and Finder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>killall Dock</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FF23F7C0-F71A-4E76-88B5-F201B314B6ED</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>killdock</string>
				<key>subtext</key>
				<string>&gt;killall Dock</string>
				<key>text</key>
				<string>Kill Dock</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DAC617FA-5B5B-4918-B6CF-72D21490B5B8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>killfinder</string>
				<key>subtext</key>
				<string>&gt;killall Finder</string>
				<key>text</key>
				<string>Kill Finder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D6FFCA8E-1D3B-448F-8A6A-03606C2B0388</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>killall Finder</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C975065D-F8DB-444E-9839-2F311B286251</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>killmenu</string>
				<key>subtext</key>
				<string>&gt;killall SystemUIServer</string>
				<key>text</key>
				<string>Kill Menu Bar</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D49E4E1F-E13C-4A40-ABA8-7C01909E4F52</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>killall SystemUIServer</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>59754784-4766-42E4-A84B-E3810C822840</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>59754784-4766-42E4-A84B-E3810C822840</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>C975065D-F8DB-444E-9839-2F311B286251</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>D49E4E1F-E13C-4A40-ABA8-7C01909E4F52</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>D6FFCA8E-1D3B-448F-8A6A-03606C2B0388</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>DAC617FA-5B5B-4918-B6CF-72D21490B5B8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FF23F7C0-F71A-4E76-88B5-F201B314B6ED</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>trepmal.com/alfredapp</string>
</dict>
</plist>
